<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/education">Education</a></li>
        		<li><a href="/experiences">Experiences</a></li>
        		<li><a href="/researchInterests">Research Interests</a></li>
        		<li><a href="/skills">Skills</a></li>
        		<li><a href="/awards">Awards</a></li>
        		<li><a href="/publications">Publications</a></li>
        		<li><a href="/meetings">Meetings</a></li>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:wang9ting@gmail.com">email</a></li>
        		<li><a href="https://github.com/wt2015-github">github.com/wt2015-github</a></li>
			</ul>
		</footer>
	</body>
</html>
